body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  max-width: 720px;
  margin: auto;
  padding: 1em;
}

#selfie {
  float: right;
  width: 200px;
}
.link-decoration {
  text-decoration: none;
}
footer {
  margin-top: 3rem;
  color: #888;
  font-size: 0.9rem;
  text-align: center;
}
