body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  max-width: 720px;
  margin: auto;
  padding: 1em;
}
a {
  color: inherit;
}
#selfie {
  float: right;
  width: 200px;
  border-radius: 5px;
}
#name {
  font-family: sans-serif;
}
.link-decoration {
  text-decoration: none;
}
#chinese-name {
  font-weight: 200;
}
footer {
  margin-top: 10px;
  color: #888;
  font-size: 0.9rem;
  text-align: center;
}
hr {
  height: 0px;
  border: none;
  border-top: 1px solid #dcdcdc;
  width: 60%;
}

i {
  margin: 5px;
}

.color-highlight {
  color: #2f65a7;
}
.container {
  display: flex;
}

.image-container {
  flex: 30%;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
}
.description p {
  margin-top: 0;
}
.project-button {
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid #333;
  border-radius: 5px;
}
.project-button:hover {
  color: #ffcb05;
  background-color: #00274c;
}
